BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 0001_initial

CREATE TABLE organizations (
    id UUID NOT NULL, 
    name TEXT NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id)
);

CREATE TABLE users (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    email TEXT NOT NULL, 
    password_hash TEXT NOT NULL, 
    full_name TEXT, 
    role TEXT DEFAULT 'owner' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    UNIQUE (email)
);

CREATE TABLE agent_keys (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    created_by_user_id UUID, 
    name TEXT NOT NULL, 
    key_hash TEXT NOT NULL, 
    key_last4 TEXT NOT NULL, 
    expires_at TIMESTAMP WITH TIME ZONE, 
    revoked_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(created_by_user_id) REFERENCES users (id) ON DELETE SET NULL
);

CREATE TABLE clusters (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    name TEXT NOT NULL, 
    provider TEXT DEFAULT 'aks' NOT NULL, 
    kube_system_uid TEXT, 
    agent_version TEXT, 
    status TEXT DEFAULT 'pending' NOT NULL, 
    last_seen_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    CONSTRAINT uq_clusters_org_name UNIQUE (organization_id, name), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE
);

CREATE TABLE log_batches (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    cluster_id UUID NOT NULL, 
    blob_path TEXT NOT NULL, 
    log_count INTEGER DEFAULT '0' NOT NULL, 
    size_bytes BIGINT DEFAULT '0' NOT NULL, 
    start_time TIMESTAMP WITH TIME ZONE, 
    end_time TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(cluster_id) REFERENCES clusters (id) ON DELETE CASCADE
);

CREATE TABLE cluster_snapshots (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    cluster_id UUID NOT NULL, 
    snapshot_type TEXT NOT NULL, 
    blob_path TEXT NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(cluster_id) REFERENCES clusters (id) ON DELETE CASCADE
);

CREATE TABLE issues (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    cluster_id UUID NOT NULL, 
    namespace TEXT, 
    workload TEXT, 
    pod_name TEXT, 
    severity TEXT NOT NULL, 
    issue_type TEXT NOT NULL, 
    title TEXT NOT NULL, 
    description TEXT, 
    status TEXT DEFAULT 'open' NOT NULL, 
    first_seen_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    last_seen_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(cluster_id) REFERENCES clusters (id) ON DELETE CASCADE
);

CREATE TABLE ai_recommendations (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    cluster_id UUID NOT NULL, 
    issue_id UUID, 
    recommendation_json JSONB NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(cluster_id) REFERENCES clusters (id) ON DELETE CASCADE, 
    FOREIGN KEY(issue_id) REFERENCES issues (id) ON DELETE SET NULL
);

CREATE TABLE audit_logs (
    id UUID NOT NULL, 
    organization_id UUID, 
    user_id UUID, 
    cluster_id UUID, 
    action TEXT NOT NULL, 
    actor_type TEXT NOT NULL, 
    details JSONB, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE SET NULL, 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE SET NULL, 
    FOREIGN KEY(cluster_id) REFERENCES clusters (id) ON DELETE SET NULL
);

CREATE INDEX ix_users_organization_id ON users (organization_id);

CREATE INDEX ix_agent_keys_organization_id ON agent_keys (organization_id);

CREATE INDEX ix_clusters_organization_id ON clusters (organization_id);

CREATE INDEX ix_log_batches_organization_id ON log_batches (organization_id);

CREATE INDEX ix_cluster_snapshots_organization_id ON cluster_snapshots (organization_id);

CREATE INDEX ix_issues_organization_id ON issues (organization_id);

CREATE INDEX ix_audit_logs_organization_id ON audit_logs (organization_id);

INSERT INTO alembic_version (version_num) VALUES ('0001_initial') RETURNING alembic_version.version_num;

-- Running upgrade 0001_initial -> 0002_ai_incidents_remediation

CREATE TABLE ai_log_findings (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    cluster_id UUID NOT NULL, 
    resource_kind TEXT, 
    resource_name TEXT, 
    namespace TEXT, 
    pod_name TEXT, 
    container_name TEXT, 
    workload_kind TEXT, 
    workload_name TEXT, 
    log_signature TEXT NOT NULL, 
    matched_pattern TEXT, 
    raw_evidence_sample JSONB NOT NULL, 
    first_seen_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    last_seen_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    occurrence_count INTEGER DEFAULT '1' NOT NULL, 
    preliminary_severity TEXT NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(cluster_id) REFERENCES clusters (id) ON DELETE CASCADE
);

CREATE INDEX ix_ai_log_findings_organization_id ON ai_log_findings (organization_id);

CREATE INDEX ix_ai_log_findings_cluster_id ON ai_log_findings (cluster_id);

CREATE TABLE ai_incidents (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    cluster_id UUID NOT NULL, 
    resource_kind TEXT, 
    resource_name TEXT, 
    scope TEXT NOT NULL, 
    title TEXT NOT NULL, 
    incident_type TEXT NOT NULL, 
    severity TEXT NOT NULL, 
    status TEXT DEFAULT 'open' NOT NULL, 
    namespace TEXT, 
    pod_name TEXT, 
    container_name TEXT, 
    workload_kind TEXT, 
    workload_name TEXT, 
    description TEXT, 
    ai_summary TEXT, 
    evidence JSONB NOT NULL, 
    confidence_score FLOAT, 
    first_seen_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    last_seen_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    occurrence_count INTEGER DEFAULT '1' NOT NULL, 
    resolved_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(cluster_id) REFERENCES clusters (id) ON DELETE CASCADE
);

CREATE INDEX ix_ai_incidents_organization_id ON ai_incidents (organization_id);

CREATE INDEX ix_ai_incidents_cluster_id ON ai_incidents (cluster_id);

CREATE TABLE remediation_suggestions (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    cluster_id UUID NOT NULL, 
    incident_id UUID NOT NULL, 
    resource_kind TEXT, 
    resource_name TEXT, 
    suggestion_type TEXT NOT NULL, 
    title TEXT NOT NULL, 
    summary TEXT NOT NULL, 
    risk_level TEXT NOT NULL, 
    requires_approval BOOLEAN DEFAULT true NOT NULL, 
    is_executable BOOLEAN DEFAULT false NOT NULL, 
    executable_action_type TEXT, 
    action_payload JSONB, 
    ai_model TEXT, 
    prompt_version TEXT, 
    confidence_score FLOAT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(cluster_id) REFERENCES clusters (id) ON DELETE CASCADE, 
    FOREIGN KEY(incident_id) REFERENCES ai_incidents (id) ON DELETE CASCADE
);

CREATE INDEX ix_remediation_suggestions_organization_id ON remediation_suggestions (organization_id);

CREATE INDEX ix_remediation_suggestions_cluster_id ON remediation_suggestions (cluster_id);

CREATE INDEX ix_remediation_suggestions_incident_id ON remediation_suggestions (incident_id);

CREATE TABLE remediation_approvals (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    cluster_id UUID NOT NULL, 
    suggestion_id UUID NOT NULL, 
    approved_by_user_id UUID, 
    approval_status TEXT DEFAULT 'pending' NOT NULL, 
    approval_reason TEXT, 
    approved_at TIMESTAMP WITH TIME ZONE, 
    rejected_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(cluster_id) REFERENCES clusters (id) ON DELETE CASCADE, 
    FOREIGN KEY(suggestion_id) REFERENCES remediation_suggestions (id) ON DELETE CASCADE, 
    FOREIGN KEY(approved_by_user_id) REFERENCES users (id) ON DELETE SET NULL
);

CREATE INDEX ix_remediation_approvals_organization_id ON remediation_approvals (organization_id);

CREATE INDEX ix_remediation_approvals_cluster_id ON remediation_approvals (cluster_id);

CREATE INDEX ix_remediation_approvals_suggestion_id ON remediation_approvals (suggestion_id);

CREATE TABLE remediation_actions (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    cluster_id UUID NOT NULL, 
    suggestion_id UUID NOT NULL, 
    approval_id UUID NOT NULL, 
    action_type TEXT NOT NULL, 
    action_payload JSONB NOT NULL, 
    status TEXT DEFAULT 'queued' NOT NULL, 
    requested_by_user_id UUID, 
    picked_up_by_agent_id UUID, 
    requested_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    picked_up_at TIMESTAMP WITH TIME ZONE, 
    completed_at TIMESTAMP WITH TIME ZONE, 
    error_message TEXT, 
    result JSONB, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(cluster_id) REFERENCES clusters (id) ON DELETE CASCADE, 
    FOREIGN KEY(suggestion_id) REFERENCES remediation_suggestions (id) ON DELETE CASCADE, 
    FOREIGN KEY(approval_id) REFERENCES remediation_approvals (id) ON DELETE CASCADE, 
    FOREIGN KEY(requested_by_user_id) REFERENCES users (id) ON DELETE SET NULL
);

CREATE INDEX ix_remediation_actions_organization_id ON remediation_actions (organization_id);

CREATE INDEX ix_remediation_actions_cluster_id ON remediation_actions (cluster_id);

CREATE INDEX ix_remediation_actions_suggestion_id ON remediation_actions (suggestion_id);

CREATE INDEX ix_remediation_actions_approval_id ON remediation_actions (approval_id);

CREATE TABLE ai_cluster_queries (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    cluster_id UUID NOT NULL, 
    user_id UUID, 
    question TEXT NOT NULL, 
    parsed_query JSONB, 
    answer_summary TEXT, 
    result JSONB, 
    ai_model TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(cluster_id) REFERENCES clusters (id) ON DELETE CASCADE, 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE SET NULL
);

CREATE INDEX ix_ai_cluster_queries_organization_id ON ai_cluster_queries (organization_id);

CREATE INDEX ix_ai_cluster_queries_cluster_id ON ai_cluster_queries (cluster_id);

ALTER TABLE audit_logs ADD COLUMN agent_id UUID;

ALTER TABLE audit_logs ADD COLUMN ip_address TEXT;

UPDATE alembic_version SET version_num='0002_ai_incidents_remediation' WHERE alembic_version.version_num = '0001_initial';

-- Running upgrade 0002_ai_incidents_remediation -> 0003_alert_limits

CREATE TABLE alert_limits (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    cluster_id UUID NOT NULL, 
    created_by_user_id UUID, 
    name TEXT NOT NULL, 
    metric_type TEXT NOT NULL, 
    scope_type TEXT DEFAULT 'cluster' NOT NULL, 
    namespace TEXT, 
    workload_name TEXT, 
    resource_id TEXT, 
    operator TEXT NOT NULL, 
    threshold_value FLOAT NOT NULL, 
    time_window_minutes INTEGER DEFAULT '5' NOT NULL, 
    severity TEXT DEFAULT 'major' NOT NULL, 
    email_enabled BOOLEAN DEFAULT true NOT NULL, 
    notification_email TEXT, 
    enabled BOOLEAN DEFAULT true NOT NULL, 
    cooldown_minutes INTEGER DEFAULT '30' NOT NULL, 
    last_triggered_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(cluster_id) REFERENCES clusters (id) ON DELETE CASCADE, 
    FOREIGN KEY(created_by_user_id) REFERENCES users (id) ON DELETE SET NULL
);

CREATE INDEX ix_alert_limits_organization_id ON alert_limits (organization_id);

CREATE INDEX ix_alert_limits_cluster_id ON alert_limits (cluster_id);

CREATE TABLE alert_events (
    id UUID NOT NULL, 
    organization_id UUID NOT NULL, 
    cluster_id UUID NOT NULL, 
    alert_limit_id UUID NOT NULL, 
    metric_value FLOAT, 
    threshold_value FLOAT NOT NULL, 
    triggered_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    notification_sent BOOLEAN DEFAULT false NOT NULL, 
    notification_error TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now() NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(organization_id) REFERENCES organizations (id) ON DELETE CASCADE, 
    FOREIGN KEY(cluster_id) REFERENCES clusters (id) ON DELETE CASCADE, 
    FOREIGN KEY(alert_limit_id) REFERENCES alert_limits (id) ON DELETE CASCADE
);

CREATE INDEX ix_alert_events_organization_id ON alert_events (organization_id);

CREATE INDEX ix_alert_events_cluster_id ON alert_events (cluster_id);

CREATE INDEX ix_alert_events_alert_limit_id ON alert_events (alert_limit_id);

UPDATE alembic_version SET version_num='0003_alert_limits' WHERE alembic_version.version_num = '0002_ai_incidents_remediation';

COMMIT;

