APP_ENV=development
APP_NAME=ClusterSage Email Worker
AZURE_SERVICEBUS_CONNECTION_STRING=
AZURE_SERVICEBUS_FULLY_QUALIFIED_NAMESPACE=
CLUSTER_CONNECTED_QUEUE_NAME=cluster-connected
AZURE_COMMUNICATION_EMAIL_CONNECTION_STRING=
AZURE_COMMUNICATION_EMAIL_ENDPOINT=
EMAIL_SENDER_ADDRESS=
EMAIL_WORKER_POLL_SECONDS=10
